#### Задание 2.4
В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.

Например:
**names=['chlorhexidine', 'cyntomycin', 'afobazol']**
**counts=[15, 18, 7]**

Напишите функцию **create_medications(names, counts)**, создающую **Series medications**, индексами которого являются названия лекарств names, а значениями — их количество в партии counts.
Также напишите функцию **get_percent(medications, name)**, которая возвращает долю товара с именем name от общего количества товаров в партии в процентах.

In [4]:
import pandas as pd

def create_medications(names, counts):
    medications = pd.Series(index=names, data=counts)
    return medications


def get_percent(medications, name):
    return(medications.loc[name])/sum(medications/100)


if __name__ == '__main__':
    names = ['chlorhexidine', 'cyntomycin', 'afobazol']
    counts = [15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, 'chlorhexidine'))

37.5

$ Не разобрана задача!$
# Задание 3.5. 
Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.
Доходы (income), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков.
Например:
- income = [478, 512, 196]
- expenses = [156, 130, 270]
- years = [2018, 2019, 2020]

Создайте функцию **create_companyDF(income, expenses, years)**, которая возвращает DataFrame, составленный из входных данных со столбцами *Income* и *Expenses* и индексами, соответствующими годам рассматриваемого периода.
Также напишите функцию **get_profit(df, year)**, которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year.

In [15]:
import pandas as pd

def create_companyDF(incomes, expenses, years):
    df = pd.DataFrame({
        'Incomes': incomes,
        'Expenses': expenses
        },
        index = years
    )
    return df
def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'Incomes'] - df.loc[year, 'Expenses']
    else:
        profit=None
    return profit

print(create_companyDF(incomes = [612, 516, 329, 158], expenses = [136, 163, 250, 361], years = [2017, 2018, 2019, 2020]))

      Incomes  Expenses
2017      612       136
2018      516       163
2019      329       250
2020      158       361

# Знакомимся с данными: недвижимость
- Задание 5.1 Какова цена объекта недвижимости под индексом 15?
- Задание 5.2 Когда был продан объект под индексом 90?
- Задание 5.3 Во сколько раз площадь прилегающей территории, на которой находится здание с индексом 3521, больше площади участка, на котором находится здание с индексом 1690? Ответ округлите до целого числа.

In [3]:
melb_data = pd.read_csv('C:\\Users\\admin\\Desktop\\SF DS118\\data\\melb_data.csv', sep=',')
display(melb_data)
print()
print('Задание 5.1')
display(melb_data.loc[15, 'Price'])
print()
display(melb_data.loc[90, 'Date'])
print()
S = melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize']
print(round(S,0))

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

Задание 5.1

1310000.0

'10/09/2016'

3.0

In [26]:
# Задания 7
# Чему равно максимальное количество домов на продажу в районе (Propertycount)?
print(melb_data['Propertycount'].max())
# Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?
print(round(melb_data['Distance'].std()))
# Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?
Area = melb_data['BuildingArea'].mean()
Med = melb_data['BuildingArea'].median()
print(round((abs(Med - Area)/Area)*100))
# Сколько спален чаще всего встречается в домах в Мельбурне?
melb_data['Bedroom'].mode()

21650.0
6
10

0    3.0
Name: Bedroom, dtype: float64

- Задания 8

In [31]:
# Cкольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты?
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [32]:
# Cколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией Nelson.
# И стоимость которых составила больше 3 миллионов?
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

In [36]:
# Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [43]:
# Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, 
# в которых либо количество комнат больше пяти, либо здание моложе 2015 года? Округлите ответ до целого числа.
round(melb_data[(melb_data['Price']<1e6) & ((melb_data['Rooms']>5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean())

769239

In [45]:
# В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object